/* styles/AboutUs.module.css */
.aboutUs {
    margin-top: 10rem;
}

.about {
    display: flex;
    background-color: var(--section-bg-color);
    box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
    margin-bottom: 10rem;
    min-height: 62rem;
}

.about__cover {
    flex-basis: 48%;
}

.about__img {
    width: 85%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px;
}

.about__content {
    flex-basis: 52%;
    padding: 4rem;
}

.about__title {
    font-family: "vazir_bold" , "sans-serif";
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.about__description {
    margin-top: 0;
    margin-bottom: 7rem;
    text-align: justify;
}

.about__list-title {
    color: var(--primary-color);
    font-family: "vazir_bold" , "sans-serif";
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.aboutList {
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.aboutList__item {
    margin-bottom: 1rem;
    position: relative;
    padding-right: 2.5rem;
}

.aboutList__item:last-child {
    margin-bottom: 0;
}

.aboutList__item::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background-color: #F57F17;
}

.about__linksWrapper {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
}

.appBtn {
    width: 18rem;
    height: 5.2rem;
    background-color: var(--primary-color);
    box-shadow: 0 1.5rem 4rem rgba(11, 190, 173, 40%);
    color: #fff;
    border-radius: 4rem;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "vazir_bold" , "sans-serif";
}

.appBtnOrange {
    background-color: #F57F17;
    box-shadow: 0 1.5rem 4rem rgba(245, 127, 23, 24%);
}
