
/* footer */
.footer{
    padding: 2rem 0;
    background-color: var(--app-bg-color);
}
footer .footer{
    border-top: 1px solid #b4b4b4;
}
.footer__copy_right{
    margin: 0;
    text-align: center;
}